body {
background-image: url(‘https://png.pngtree.com/background/20210711/original/pngtree-cool-gradient-fashion-technology-h5-background-picture-image_1092359.jpg’);
}
.header {
  background-color: white;
  padding: 0 .5em;
}
.footer {
  background-color: white;
  padding: 0 .5em;
}
.main {
  background-color: #fff8d8;
  padding: 1em;
}
h1 {
  font-size: 200%;
  margin: 0 0;
  padding: .5em 0;
}
div {
  padding: 0vw 0vh;
  margin: 0vw 0vh;
}
